/* ~~~~ SITE STYLES and LAYOUT ~~~~ */

html {
  background-color: #1a1a1a;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 10px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 5px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 10px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 10px),
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 10px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 10px);
  background-repeat: repeat, repeat, repeat, repeat, repeat, repeat;
  background-attachment: fixed, fixed, fixed, fixed, fixed, fixed, fixed;
  background-size: 550px 550px, 350px 350px, 470px 470px, 250px 250px, 450px 450px, 400px 400px; 
  background-position: 0 0, 40px 60px, -160px 310px, 10px 150px, 450px 150px, 80px -70px;
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Raleway', 'Arial', sans-serif;
  line-height: 1.5rem; 
}

.spaceship {
  display: none;
}

.spaceship2 {
  margin: 0 auto;
  width: 150px;
}

a, a:active, 
a:link, 
a:visited, 
a:hover {
  color: #79a6d2;
  text-decoration: none;
}

a:hover {
  color: #b3cce5;
  text-decoration: none;
}

.intro {
  margin: 0;
  display: inline;
}

.mars {
  display: none;
}

.astronaut {
  display: none;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  color: #d37b4f;
  font-family: 'Orbitron', 'Arial Black', sans-serif;
  letter-spacing: 1px;
}

h1 {
  margin: 1.9em 0 0.5em;
}

h2 {
  margin-top: 1.5em;
  font-size: 1.1em;
  font-weight: 400;
}

h1:first-of-type {
  margin: 0.2em 0 0.75em;
}



img {
  margin: 10px 0;
  width: 100%;
}



/* ~~~~ HEADER ~~~~ */

.headerwrap {
  margin: 3em auto;
  width: 86%;
  max-width: 800px;
  text-align: center;
}

.bighead {
  margin: 0 0 0.5em;
  padding: 0;
  display: inline-block;
  color: #fff;
  font-family: 'Orbitron', 'Arial Black', sans-serif;
  font-size: 3.5em;
  font-weight: 900;
  line-height: 1.2em;
  background: repeating-linear-gradient(#fff 0%, #fff 12%, #333 1.2em);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}




/* ~~~~ MAIN / NAVIGATION / FOOTER ~~~~ */

nav, .contentwrap, footer {
  width: 86%;
  max-width: 800px;
  background-color: #4d4d4d;
  box-sizing: border-box;
}

nav {
  margin: 0 auto 1em;
  padding: 0px 0;
  font-family: 'Orbitron', 'Arial Black', sans-serif;
  font-size: 1.5em;
  letter-spacing: 2px;
  vertical-align: center;
}

.navtitle {
  margin: 0;
  padding: 25px;
  color: white;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5em;  
}

nav > a, 
nav > a:active, 
nav > a:link, 
nav > a:visited, 
nav > a:hover {
  color: #fff;
}

.navicon {
  margin: 0 0.5em 0 0;
  padding: 0.5em;
  width: 40px;
  height: 42px;
  box-sizing: border-box;
  float: left;
  background-color: #aaa;
  background: #aaa 10px 10px / 20px 20px no-repeat;
  background-image: -webkit-repeating-linear-gradient(#aaa, #aaa 4px, #fff 4px, #fff 6px);
  background-image: repeating-linear-gradient(#aaa, #aaa 4px, #fff 4px, #fff 6px);
}

.navlinks {
  margin: 0;
  padding: 0;
  background-color: #666;
}

.navlinks li {
  margin: 0;
  padding: 25px;
  list-style-type: none;
}

.navlinks li:first-child {
  padding-top: 1em;
}

.navlinks li.active {
  background: #808080;
}

.navlinks li.active a {
  color: #b3cce5;
}

#navmenu {
  display: none;
}

.showhidenav #navmenu {
  display: block;
}

.navlinks a {
  display: block;
  font-weight: 900;
}

nav img {
  margin: 0;
  padding: 0 15px 0 0;
  width: 50px;
  vertical-align: middle;
}



.content {
  margin: 25px auto;
  padding: 25px;
}

.contentwrap {
  margin: 0 auto;
}

.imgwraptop {
  width: 100%;
}

.image {
  width: 100%;
  border: 1px solid #ccc;
}

.imgcred {
  margin: -0.4em 0 0;
  padding: 0;
  color: #bbb;
  font-size: 0.7em;
}

.contentnav {
  margin-top: 0.5em;
  padding-left: 8px;
  list-style-type: square;
}

.contentnav li {
  margin-left: 1em;
}



footer {
  margin: 0 auto 2.5rem;
  padding: 25px;
  color: #bbb;
  font-size: 0.7em;
  text-align: center;
}

.social {
  margin: 0.5em 0 0;
  padding: 0;
  list-style-type: none;
}

.social li {
  padding: 0 1em 0 0;
  display: inline;
}

.social li img {
  margin: 0;
  padding: 0;
  width: 30px;
}












/* Media Queries */


/* 500px */

@media only screen and (min-width: 500px) {

  /* ~~~~ SITE STYLES and LAYOUT ~~~~ */

  .spaceshipouterwrap {
    margin: 0 auto;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    pointer-events: none;
  }

  .spaceshipinnerwrap {
    margin: 0 auto;
    width: 75%;
    max-width: 800px;
    text-align: right;
  }

  .spaceship {
    margin: 2.3em -50px 0 0;
    width: 30%;
    max-width: 150px;
    display: inline;
  }

  .spaceship2 {
    display: none;
  }

  .mars {
    display: inline;
    width: 350px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
    transform: scaleX(-1);
  }



  /* ~~~~ HEADER ~~~~ */

  .headerwrap {
    margin-bottom: 1em;
    width: 75%;
    text-align: left;
  }

  .smallhead {
    margin: 0 0 0.5em;
  }

  .bighead {
    margin: 0 0 0.2em;
    padding-right: 1.5em;
  }




  /* ~~~~ MAIN / NAVIGATION / FOOTER ~~~~ */

  nav, .contentwrap, footer {
    width: 75%;
  }


  .textwrap {
    margin: 0;
    padding: 0;
    width: 15%;
    max-width: 105px;
    height: 350px;
    float: right;
    background-color: #4d4d4d;
  }



  .imgwraptop {
    margin: 0 25px 25px 0;
    width: 80%;
    max-width: 300px;
  }


}









/* 900px */

@media only screen and (min-width: 900px) {

  /* ~~~~ SITE STYLES and LAYOUT ~~~~ */
  



  /* ~~~~ MAIN / NAVIGATION / FOOTER ~~~~ */

  main {
    margin-top: -200px;
    width: 86%;
  }

  .mainwrap {
    margin-right: 160px;
    padding: 25px;
    width: 200px;
    float: right;
    background-color: #ccc;
    color: black;
    font-size: 1em;
  }

  .intro {
    text-align: right;
    font-size: 0.95em;
  }



  nav {
    margin: 0 auto;
    padding: 0;
    background-color: transparent;
    font-size: 18px;
  }

  .navlinks {
    margin: 0;
    padding: 0;
    background-color: #4d4d4d;
  }

  .navlinks li {
    padding: 16px;
    display: inline-block;
  }

  .navlinks li:first-child {
    padding: 16px;
    display: inline-block;
  }

  nav a.mainnav {
    display: none;
  }

  #navmenu {
    display: block;
  }

  nav img {
    display: inline-block;
    padding-right: 10px;
    width: 28px;
  }



  .imgwraptop {
    margin: 0 25px 25px 25px;
    width: 300px;
    float: right;
  }







