/* ~~~~ SITE STYLES and LAYOUT ~~~~ */

html {
  background-color: #22170b;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 10px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 5px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 10px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 10px),
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 10px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 10px);
  background-repeat: repeat, repeat, repeat, repeat, repeat, repeat;
  background-attachment: fixed, fixed, fixed, fixed, fixed, fixed, fixed;
  background-size: 550px 550px, 350px 350px, 470px 470px, 250px 250px, 450px 450px, 400px 400px; 
  background-position: 0 0, 40px 60px, -160px 310px, 10px 150px, 450px 150px, 80px -70px;
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Raleway', 'Arial', sans-serif;
  line-height: 1.5rem; 
}

.spaceship {
  display: none;
}

.spaceship2 {
  margin: 0 auto;
  width: 150px;
}

a, a:link, a:visited {
  color: #cc5200;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #ff7920;
  font-weight: bold;
  text-decoration: none;
}

.intro {
  margin: 0;
}

  .mars {
    display: none;
  }



/* ~~~~ HEADER ~~~~ */

.headerwrap {
  margin: 3em auto;
  width: 86%;
  text-align: center;
}

.smallhead, .bighead {
  color: #fff;
  font-family: 'Orbitron', 'Arial Black', sans-serif;
}

.smallhead {
  margin: 0 0 0.5em;
  font-size: 1.5em;
}

.bighead {
  margin: 0 0 0.5em 0;
  padding: 0;
  font-size: 3.5em;
  font-weight: 900;
  line-height: 1.2em;
  background: linear-gradient(180deg, #fff 0%, #fff 20%, #333 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}




/* ~~~~ MAIN / NAVIGATION / FOOTER ~~~~ */

main, nav, footer {
  width: 86%;
  background-color: #24486c;
  box-sizing: border-box;
  border-radius: 13px;
}

main {
  margin: 0 auto;
  padding: 25px;
  font-size: 0.9em;
  line-height: 1.4em;
}

.social {
  margin: 1.3em 0 -1.3em;
  padding: 0;
  text-align: justify;
  list-style-type: none;
}

.social li {
  padding: 0 0.2em;
  display: inline-block;
}

.social li:last-child {
  width: 100%;
  height: 1px;
}

nav {
  margin: 1em auto;
  padding: 15px 25px;
  font-family: 'Orbitron', 'Arial Black', sans-serif;
  font-size: 1.5em;
  letter-spacing: 2px;
  vertical-align: center;
}

.navlinks {
  margin: 0;
  padding: 0;
}

.navlinks li {
  margin: 0;
  padding: 1em 0;
  list-style-type: none;
}

nav img {
  padding-right: 15px;
  width: 50px;
  vertical-align: middle;
}

footer {
  margin: 0 auto 2.5rem;
  padding: 25px;
  color: #bbb;
  font-size: 0.7em;
  text-align: center;
}





/* Media Queries */


/* 500px */

@media only screen and (min-width: 500px) {

  /* ~~~~ SITE STYLES and LAYOUT ~~~~ */
  
  html {
    background-color: #22170B;
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 10px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 5px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 10px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 10px),
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 10px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 10px);
    background-repeat: repeat, repeat, repeat, repeat, repeat, repeat;
    background-attachment: fixed, fixed, fixed, fixed, fixed, fixed, fixed;
    background-size: 550px 550px, 350px 350px, 470px 470px, 250px 250px, 450px 450px, 400px 400px; 
    background-position: 0 0, 40px 60px, -160px 310px, 10px 150px, 450px 150px, 80px -70px;
  }

  .spaceshipwrap {
    margin: 0 auto;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    pointer-events: none;
  }

  .spaceshipwrap2 {
    margin: 0 auto;
    width: 75%;
    text-align: right;
  }

  .spaceship {
    margin: 1.5em -50px 0 0;
    width: 30%;
    max-width: 150px;
    display: inline;
  }

  .spaceship2 {
    display: none;
  }

  .mars {
    display: inline;
    width: 350px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
    transform: scaleX(-1);
  }



  /* ~~~~ HEADER ~~~~ */

  .headerwrap {
    width: 75%;
    text-align: left;
  }

  .smallhead {
    margin: 0 0 0.5em;
    font-size: 1.5em;
  }

  .bighead {
    margin: 0 0 0.5em 0;
    padding: 0;
    font-size: 3.5em;
    font-weight: 900;
    line-height: 1.2em;
    background: linear-gradient(180deg, #fff 0%, #fff 20%, #333 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }



  /* ~~~~ MAIN / NAVIGATION / FOOTER ~~~~ */

  main, nav, footer {
    width: 75%;
  }

  main {
    margin: 0 auto;
    padding: 25px 90px 25px 25px;
    font-size: 1em;
    line-height: 1.4em;
  }

  .social {
    text-align: left;
  }

  .social li {
    padding: 0 0.7em 0 0;
  }




}






